@use "helpers" as *;

html {
    &.is-lock {
        overflow: hidden;
    }
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white-alt);

    font-family: var(--font-primary);
    font-size: var(--font-size-md);
    color: var(--color-black-alt);
}

main {
    flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 500;
    color: var(--color-black-alt);
    line-height: 1;
}

h1,
.h1 {
    font-size: var(--font-size-xxl);
}

h2,
.h2 {
    font-size: var(--font-size-xl);
}

h3,
.h3 {
    font-size: var(--font-size-l);
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: inherit;

    &[class] {
        text-decoration: none;
    }

    @include hover {
        text-decoration: underline;
    }
}

:focus-visible {
    @include focus-visible;
}

*.loading {
    position: relative;
    overflow: hidden;

    &::after {
        content: url("../icons/loading.svg");
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        transform: translateX(-50%) translateY(-50%);
        animation: load 0.5s linear infinite;
        z-index: 2;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

@keyframes load {
    from {
        transform: translateX(-50%) translateY(-50%) rotate(0);
    }

    to {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}

.wp-block[data-type^="tergos"],
.wp-block[data-type^="components"],
.wp-block[data-type^="blocks"] {
    & > * {
        padding-block: 1rem;
        min-height: 100px;

        @include hover {
            outline: 1px dashed var(--color-black);
            outline-offset: -2px;
        }
    }
}

// .wp-block[data-type="tergos/grid-item"] {
//     width: 100%;
// }

.wp-block {
    max-width: none !important;
}

.is-root-container {
    max-width: 1440px !important;
    margin-inline: auto !important;
}

.acf-innerblocks-container {
    display: contents;
}
