@use "helpers" as *;

:root {
    // colors
    --color-white: #fff;
    --color-white-alt: #f5f5f5;
    --color-white-alt-2: #fcfcfc;

    --color-black: #000;
    --color-black-alt: #1e1e1e;
    --color-black-alt-o32: rgb(30, 30, 30, 32%);
    --color-black-alt-2: #0b0b0b;

    --color-gray: #6d6d6d;
    --color-gray-alt: #505154;
    --color-gray-alt-2: #b1b1b1;

    --color-theme: #254cba;
    --color-theme-alt: #2e59cf;

    // fonts
    --font-primary: "Inter", sans-serif;
    --font-secondary: "Roboto", sans-serif;
    --font-size-xxl: #{fluid(46, 28)};
    --font-size-xl: #{fluid(42, 28)};
    --font-size-l: #{fluid(24, 16)};
    --font-size-md: 14;
    --font-size-s: #{fluid(12, 10)};
    --font-size-xs: 10;

    // margins
    --section-padding-y: 64px;
    // --section-padding-y-l: 110px;
    --container-width: 1155px;
    --container-padding-x: 22.5px;
    // --header-height: #{fluid(80, 64)};

    // borders
    --radius-l: 8px;
    --radius-md: 4px;

    --border-gray: 1px solid rgba(109, 109, 109, 0.16);

    // transitions
    --transition-duration: 0.2s;
    --transition-duration-longer: 0.4s;
}
